/* GLOBAL CSS DECLARATION FOR THE WHOLE WEBSITE */
html, body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* FOR THE WHOLE CONTAINER OF THE WEBSITE */
#container {
  min-height:100%;
  position:relative;
}

/* POSITION FOR THE WHOLE CONTAINER OF HEADER */
#header {
   background-color: #0b0450bb;
   background-image: linear-gradient(#060038bb, #060038bb);
   width: 100%;
   height: 100%;
   position: relative;
}

/* POSITION FOR THE WHOLE CONTAINER OF VIDEO */
#video {
  position: absolute;
  top: 125px;
  bottom: 500px;
  width: 100%;
  height: 100%;
}

#main{
  background-color:white;
}
/* POSITION FOR THE wHOLE CONTAINER OF ARTICLE 1 (Letran)*/
#letran{
  position: relative;
}

/* POSITION FOR THE WHOLE CONTAINER OF ARTICLE 2 (news and announcements)*/
#newsannoucements {
  top: -1280px;
  padding-left: 1060px;
  position: relative;
}

/* POSITION FOR THE WHOLE CONTAINER OF ARTICLE 3 (dominican links and international linkages)*/
#dominicanlinks {
 padding-top: 110px;
 width: 69.8%;
}

/* POSITION FOR THE WHOLE CONTAINER OF FOOTER*/
#footer {
  top: -1280px;
 position:relative;
 bottom:0px;
 width:100%;
 height: 100px;   /* Height of the footer */
 background-image: linear-gradient(#060038bb, #060038bb);
 background-color: #060038bb;
}


/* HEADER CSS CODES */
.header-container {
 padding-top: 5px;
 padding-right: 5px;
 padding-bottom: 5px;
 padding-left: 80px;
}

.header-container p {
 font-size: 20px; 
 color: white;
 margin-top: 8px;
 padding-left: 15px;
 display:inline-block;
 margin-left: 20px;
}

.headlinks {
   padding-right: 20px;
   padding-top: 15px;
   float: right;
 }
 
 .headlinks p {
   color: white;
   margin: 0;
   padding: 0;
   padding-top: 5px;
   padding-right: 70px;
 }
 
 .headlinks p:hover{
   color: #ff0000;
 }

 /* VIDEO CSS CODES */
.name{
  position: relative;
  text-align: center;
   background-size: cover;
   background-repeat: no-repeat;
   color: #ffffff;
   text-align: center;
   padding-top: 250px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-shadow: 4px 4px 4px #aaa;
   margin-bottom: 50px;
 }
 
 .name button{
   padding-top: 50px;
   padding-bottom: 50px;
   padding: 10px;
   border: none;
   outline: none;
   background: none;
   border: 1px solid #ff0000;
   color: #ffffff;
 }
 
 .name p{
   color: white;
 }
 .name button:hover{
   background: #ff0000;
 }

 /* LETRAN CSS CODES(CONTENTS) */
 .letran-contents{
   position: relative;
   top: 120px;
 }

 .letran-contents img{
        /* TOP:RIGHT:BOTTOM:LEFT */
   padding: 50px 50px 50px 45px;
 }

 /* NEWSAND ANNOUNCEMENTS CSS CODES (CONTENTS) */
 .nan-contents {
  padding-top: 0px;
  background-color: rgb(156, 5, 5);  
 }

 .nan-contents h1{
   color: white;
  padding-left: 65px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
 }

 .QR{
   padding-top: 50px;
   padding-left: 50px;
}
 .ESC{
  padding-left: 50px;
 }

 .nan-contents a{
   top: 0px;
   text-decoration: none;
 }

 .nan-contents p:hover{
  color:limegreen;
}

.nan-contents p {
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-bottom: 46px;
}

.fb h2{
  color: white;
  padding-left: 80px;
  margin: 0;
}

.fb{
  padding-left: 63px;
  padding-bottom: 30px;
}


 /* DOMINICAN LINKS CSS CODES (CONTENTS) */
.dl-contents {
  background-color: rgb(156, 5, 5);  
  display: flex;
  gap: 100px;
  flex-direction: row;
  /* flex-direction: column; */
}

.link {
  font-size: 14px;
  margin-bottom: 11px;
  text-align: center;
  flex: 5;
}

.link-1 {
  margin-top: 22px;
  color: #ffffff;
}

.link-2 {
  margin-top: 22px;
  color: #ffffff;
} 

 /* FOOTER CSS CODES */
.footer-container {
   position: absolute;
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
 }
 
 .footer-container img {
   float: left;
   padding-top: 15px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 15px;
 }
 
 .footer-container p {
   color: #ffffff;
   font-size: 12px;
   display: inline-block;
 } 